$primary: #0b1d26;

$primary-sidebar: rgba(11, 29, 38, 0.3);

$primary-sidebar-active: rgba(11, 29, 38, 0.8);

$white: #ffffff;

$gray: #ffffff94;

$gold: #fbd784;

//
//Brakepoints
$notebook1-bp: 1734px;

$notebook2-bp: 1590px;

$notebook3-bp: 1320px;

$tablet-bp: 991px;

$mobile-bp: 575px;
